<h1>Weekly test report of station : <%= @battery.station.name %>,system type <%= @battery.system_type.name %></h1>

<div class="leftdiv">
	From date
</div>
<div class="rightdiv">
	<input type="text" id = "from_date_batt_weekly_test"/>
</div>
<div class="leftdiv">
	To date
</div>
<div class="rightdiv">
	<input type="text" id = "to_date_batt_weekly_test"/>
</div>
<div class="leftdiv">
	<input type="button" id = "batt_weekly_report" value="View Report"/>
</div>

<div id = "batt_weekly_test_container"> 
	<!-- Load weekly test report here -->
</div>

<script type="text/javascript">
	$( "#from_date_batt_weekly_test" ).datepicker({dateFormat: 'dd-mm-yy'});
	$( "#to_date_batt_weekly_test" ).datepicker({dateFormat: 'dd-mm-yy'});

	// 	Show battery weekly test report after clicking
	$("#batt_weekly_report").click(function () {
		var date1 = $("#from_date_batt_weekly_test").val();
		var date2 = $("#to_date_batt_weekly_test").val();
		if(date1 == "" || date2 == "") {
			$("#batt_weekly_test_container div").remove();

			$("#batt_weekly_test_container").append("<div style='color:red'>Please enter both from and two dates</div>");
		}
		else {
			$("#batt_weekly_test_container").load("/batteries/"+<%= @battery.id %>+"/weekly_report_list?date1="+date1+"&date2="+date2);
		}
	});
</script>
