<b class="notice"><%#= notice %></b>
<h1> Listing power stations </h1>

<% if current_user.role? :admin %>
	<span> Regional Directorate 
<select id = "rd_code">
	<option value = "ALL"> ALL </option>
	<% RegionalDirectorate.all.each do |rd| %>
		<option value = "<%= rd.id %>"><%= rd.code %> </option>
	<% end %>
</select>
</span>
 <span> Accounting Offices

<select id = "acc_office">
	<option value = "ALL"> ALL </option>
	<% AccountingOffice.all.each do |ofc| %>
		<option value = "<%= ofc.id %>"><%= ofc.name %> </option>
	<% end %>
</select>
</span>  
<% end %>
 
	<div id = "stations">
		<!-- Load station name list here -->
	</div>

<script type="text/javascript">
		$(document).ready(function() {
			$("#stations").load("/stations/list");
		});

	</script>	
	
