<h1> Listing power stations </h1>


	
<div id="box">

	<ul>
	<% @stations.each do |station| %>
			<li>
				<%= link_to station.name, station_batteries_path(station) %> 
				<%= link_to 'Edit', edit_station_path(station) %> | <%= link_to 'Delete', station, method: :delete, data: { confirm: 'Are you sure?' } %>
			</li>
	<% end %>
	</ul>   
	
	

</div>

