<h1>Daily test report of station : <%= @battery.station.name %>,system type <%= @battery.system_type.name %></h1>

<div class="leftdiv">
	Enter date
</div>
<div class="rightdiv">
	<input type="text" id = "date_batt_daily_test"/>
</div>

<div class="leftdiv">
	<input type="button" id = "batt_daily_report" value="View Report"/>
</div>

<div id = "batt_daily_test_container"> 
	<!-- Load daily test report here -->
</div>

<script type="text/javascript">
	$( "#date_batt_daily_test" ).datepicker({dateFormat: 'dd-mm-yy'});
	// 	Show battery daily test report after clicking
	$("#batt_daily_report").click(function () {
		var date = $("#date_batt_daily_test").val();
		if(date == "") {
			$("#batt_daily_test_container").append("<div style='color:red'>Please enter a date</div>");
		}
		else {
			$("#batt_daily_test_container").load("/batteries/"+<%= @battery.id %>+"/daily_report_list?date="+date);

		}
	});
</script>
