/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
 *= require jquery.ui.all
 */

= require_self

/* CSS Document */


ul {list-style-type: none; padding: 0; margin: 0;}



/***** HEADER ******/
h1{
  color: #125da7;
  font:24px  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
  color: #c6e04c;
  font:18px  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.cleardiv{clear:both;}
div#header {
	margin:0; 
	padding:0px;
	height:auto;
	overflow:auto;
	border-bottom:7px solid #00b8f5;
	background-color:#ecf7f8;
}

div#header_left{float:left; width:100px; padding:10px; }



div#header_mid{
	margin-left: 100px;
	margin-right: 350px;
	padding:0;
	height:110px;
	
}

div#header_mid h1 {
  color: #125da7;
  line-height:18px;
  margin:10px 0 0;
  font:24px  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div#header_mid h1 a { 
  color: #125da7;
}

div#header_mid h2 {
  color: #c6e04c;
  line-height:12px;
  font:18px  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div#header_mid span a:link{
	color:#c6e04c;
}

div#header_right{float:right; width:300px; margin:0; padding:20px; color:#666; text-align:center;}
div#header_right a{text-decoration:none; color:#369;}
div#header_right a:hover{text-decoration:none; background-color:#369; color:#FFF;}


div#tabs ul li {
	display: inline-block;
}

div.greenline{clear:both; width:100%; height:3px; background-color:#c6e04c; }

/************ SIDEBAR *************/
div#side_bar {
	float: left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;	
}


#side_bar .subhead{color:#b8e128; font-weight:bold; margin:20px 0px 5px; font:18px  "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
#side_bar ul {list-style-type: none; padding: 0; margin: 0;}
#side_bar ul li { margin-top: 0px;}
#side_bar ul li a {display: block; width:190px; padding: 3px 10px 5px; text-decoration: none; color: #336699; border-left:5px solid #7bc6ff;}
#side_bar ul li a:hover { border-left:5px solid #3290d8; padding-left:15px; background-color: #F9F9F9; color:#f28900; }



/***** BODY ******/
div#container {
	
	margin:10px 10px 10px;
	color:#787878;
	
}

div#content {
	margin-left: 225px;
	padding: 10px 40px 10px;
	min-height:500px;
	overflow:auto;
	border-left:1px dashed #b8e128;
}



div#stations_overview div.box{
	border:3px solid #EEE;
	padding:15px;
	overflow:auto;
	height:auto;
	background-color:#FFF;
	line-height:18px;
}





/*********************       COMMON CSS     *************************/

.leftdiv{clear:left; float:left; width:200px;}
.rightdiv{float:left; color:#369;}


/*input,select, textarea{
border-radius:5px; padding:5px; margin-top:5px; color:#595959;
border:1px solid #CCC;
}*/
submit,button{color:#FFF; background-color:#369;
border-radius:5px; padding:5px; margin-top:5px; 
border:1px solid #CCC;
}

table.power{border:2px solid #fff; padding:5px; background-color:#FFF; width:100%;}
table.power td{border:1px solid #cfe5fc; margin:0; padding:3px 5px 3px;}
table.power th{background-color:#336699; color:#FFF; border:1px solid #eee; pa/dding:3px 5px 3px;}
span.toggle { cursor: pointer } 

/*
div#side_bar div.block {
	margin: 10px 0 10px; padding: 10px; 
	border: 3px solid #ddd; 
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	-khtml-border-radius: 10px;
	border-radius:10px;
	background-color:#f6f6f6;		
}

div#side_bar div.block div.content {
	margin: 0 0 2px 8px;
}
*/
/*
div#container span.title { 
	color: #333333;
	font-size: 20px;
	margin: 5px;
}

/*
div#tab1 div.title {
	color: #333333;
	font-size: 20px;
	margin: 0 0 20px;
}

div.row {
   clear: both;
   color:#46596a;
   height: 30px;
}

div.row div.left {
   color:#46596a;
   display: block;
   float: left;
   height: 20px;
   padding: 5px 8px;
   width: 74%;
}

div.row div.right {
	  display: inline-block;
    float: right;
    height: 20px;
    padding: 5px 8px;
    text-align: left;
    width: 5%;
}

div.element {
	color: #336699;
	margin: 0 0 4px 8px;
}

div.data-list {
	ma/rgin-bottom: 25px;
}

div.small-row {
   clear: both;
   color:#46596a;
}

div.small-row div.small-left {
   color:#46596a;
   display: block;
   float: left;
   padding: 3px 8px;
   width: 24%;
}

div.station_tech_overview div.small-row div.small-left, div.station_geo_overview div.small-row div.small-left {
   width: 34%;
}

div#station_list div.station {
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 5px;
}

div#station_list div.station:hover {
	background-color: #EDE6E6;
}


div.small-row div.small-right {
	  display: inline-block;
    padding: 3px 8px;
    text-align: left;
}

textarea.small_text {
	height: 140px;
}

select#ac_ac_type {
	width: 285px;
}
#formsearch{clear:both;width:100%;background-color:#525252; height:30px; margin-top:0px;z-index:100;}
form#searchform {
	
	float:right;
	margin:5px;
}*/
	
/* will_paginate CSS */
div.pagination .next_page {
  float:left;
  margin-right: 10px;
}

div.no_tab_container {
	padding: 10px;
}

div.no_tab_container {
	border: 3px solid #ddd; 
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	-khtml-border-radius: 10px;
	border-radius:10px;
	background-color:#f6f6f6;
}

div#station_list div.station_tech_overview {
    display: inline-block;
    width: 45%;
    padding: 10px;
}


div#station_list div.station_geo_overview {
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
    width: 45%;
}

div#station_list div.heading {
	 font-size: 19px;
	 padding: 5px;
	 margin-left: 10px;
}

div#station_list div.heading a{
	color: #2275A5;
} 
div.fault-servicing-history {
	font-size: 19px;
	padding: 5px;
}

select#station_zone, select#station_account_office {
	width: 324px;
}

div.list_pagination {
	margin-top: 12px;
}

div.big-heading {
    color: #46596A;
    font: 26px Arial,Tahoma,Helvetica;
    margin: 5px 0 9px -22px;
    text-align: center;
}

/******************* Equipment tab interface index page css ***********/

/*div.equipment-detail {
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 5px;
}*/

div.eqp_detail {
	width:50%;
	border:1px solid;
	float:left;
	padding:5px;
}

div.eqp_supplier_detail {
	margin-left:22px;
	width:40%;
	display:inline-block;
}


/************ Battery page css *************************/
div#tabbed_content a.link_button {
	border: 1px solid ;
	padding: 2px;
	background-color:#c6e04c;
	text-decoration:none;
}


/******* Battery Weekly Test Report entry page ************/
div.table_left {
	float: left; 
	width: 34px; 
	border: 1px solid;
	text-align:center;
	clear: both;
}

div.table_right {
	width:250px;
	border:1px solid black;
	text-align:center;	
	float: left;
}

/******* Battery Daily Test Report entry page ************/
div#batt_daily_test_container, div#batt_weekly_test_container {
	clear: both;
	margin-top:80px;
}
    
