<div id="header">
	<div id="header_left">
		<img src="/images/ntlogo.png" alt="Nepal Telecom"/>
	</div>
	<div id="header_right">
	<% if  user_signed_in? %>
		Welcome, <%= current_user.email %> <br />
		<%= link_to "Change Password", destroy_user_session_path, :method => :delete %> | <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
		
	<% end %>
	</div>
	
	<div id="header_mid">
		<h1><%#= link_to "Power Information Management System", stations_path %> Power Information Management System </h1>
		<h2> Power Department, Chhauni </h2>
	</div>
	
	
</div>
<div class="greenline"></div>

	
